<img src="Logo.png" width="100" align="left"/> 

# <center>Data Analytics project:</center>



Congratulations on finishing the lessons content for this second unit !

We have seen a lot of concepts in the second unit and we had the chance to test some of them. Now, we get to see how these different concepts are used to better understand our data.

## Some guidelines: 
1. To run a cell you can use the shortcut use : Shift + Enter

2. Only sections mentioned as To-Do are the places where you should put in your own code other than that we do not recommend that you change the provided code.

3. You will be graded for the visibility of your code so make sure you respect the correct indentation and that your code contains suitable variables names.

4. This notebook is designed in a sequential way so if you solve your project on different days make sure to run the previous cells before you can run the one you want.

5. Teacher assistants in the slack space remain available to answer any questions you might have.

>Best of luck !

## Project Sections:
In this project you will practice some of the concepts seen in the data analytics unit, you will deal with a real dataset. This dataset contains house sale prices for King County. It includes homes sold between May 2014 and May 2015.

Our goal is to analyze this dataset, clean it then create a simple linear regression model using it.

This project is devided into n sections : 
1. [Setting the environement](#set_env)

2. [Importing necessary tools](#importing)

3. [Dataset discovery](#dataset_discovery)

4. [NA handling](#na_handling)

5. [Useless variables deletion](#useless_var)

6. [Outliers detection](#outliers)

7. [Feature selection](#feature_selection)

8. [Linear regression](#linear_reg)

### 1. Setting the environement:  <a id='set_env'></a>

In [ ]:
# Make sure you have virtualenv installed 
!pip install --user virtualenv

In [ ]:
# To-Do: create a virtual environement called data_analytics
! python -m venv data_analytics

In [ ]:
# Activate the environement for windows
!source data_analytics/bin/activate

In [ ]:
# Activate the environement for linux (debian based)
!. data_analytics/bin/activate

### 2. Importing necessary tools:<a id='importing'></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### 3. Dataset discovery:<a id='dataset_discovery'></a>

In [3]:
# To-Do: Read the file ("kc_house_data.csv") using pandas and store in a dataframe called df
df = pd.read_csv("kc_house_data.csv")
df.head()
# To-Do: Print the dataframe's shape
df.shape
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180.0,5650.0,1.0,0,0,...,7,1180.0,0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570.0,7242.0,2.0,0,0,...,7,2170.0,400,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770.0,10000.0,1.0,0,0,...,6,770.0,0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960.0,5000.0,1.0,0,0,...,7,1050.0,910,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680.0,8080.0,1.0,0,0,...,8,1680.0,0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,7503

In [4]:
# To-Do: Print the dataframe's info
df.info
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. NA handling:<a id='na_handling'></a>
It is clear after printing the dataset info that there are some variables that have less entries than the number of rows which means that some of them don't have values in certain rows.

Given the number of the na values, what do you think is the best method to deal with them?

In [5]:
# To-Do: deal with the NAs in your dataset in one line
df.isna()
df.dropna(inplace=True)
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### 5. Useless variables deletion:<a id='useless_var'></a>
We want to eventually do a regression on it so naturally some variables bring no added value and can be delted without impacting the results.

Delete the column that correspond to variables that aren't needed.

In [6]:
# To-Do: delete the values of the variables that are useles
del df['id']
del df['zipcode']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21588 non-null  object
 1   price          21588 non-null  float64
 2   bedrooms       21588 non-null  int64
 3   bathrooms      21588 non-null  float64
 4   sqft_living    21588 non-null  float64
 5   sqft_lot       21588 non-null  float64
 6   floors         21588 non-null  float64
 7   waterfront     21588 non-null  int64
 8   view           21588 non-null  int64
 9   condition      21588 non-null  int64
 10  grade          21588 non-null  int64
 11  sqft_above     21588 non-null  float64
 12  sqft_basement  21588 non-null  int64
 13  yr_built       21588 non-null  float64
 14  yr_renovated   21588 non-null  float64
 15  lat            21588 non-null  float64
 16  long           21588 non-null  float64
 17  sqft_living15  21588 non-null  float64
 18  sqft_lot15     21588 non-null  int64
dtypes: float64(11), int64(7), object(1)
memory usage: 3.3+ MB

### A wild playground appears !!
In the next cell, go wild with the dataset discovery.
You can calculate the mean, the median or do anything you want to learn more the data.

<b>Pro tip :</b> 
Sometimes you might want to know how many unique variables a column has, to do so you can use the padas function :

<center>pd.unique(df['column_name'])</center>

In [8]:
# To-Do : get to know more your data WITHOUT modifying it !!
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
count,2.158800e+04,21588.000000,21588.000000,21588.000000,2.158800e+04,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000
mean,5.401545e+05,3.370576,2.114670,2079.916528,1.511370e+04,1.494187,0.007550,0.234297,3.409626,7.656985,1788.385353,291.531175,1971.004910,84.408329,47.560054,-122.213889,1986.594265,12771.769826
std,3.671493e+05,0.929870,0.770085,918.538221,4.144320e+04,0.539989,0.086567,0.766200,0.650932,1.175540,828.218416,442.624173,29.365908,401.694992,0.138558,0.140825,685.364986,27316.243753
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219875e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.571800,-122.230500,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,47.678000,-122.125000,2360.000000,10083.250000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000,871200.000000

### 6.Outliers detection:<a id='outliers'></a>
Having outliers is a common problem that might affect the quality of the model that we're building.

Let's assume that we're not interested in very expensive or very cheap houses, we want a model that best fits the average priced houses.

To create such a model, we detect outliers and delete them using the Z-score method seen in the lessons.

In [9]:
# To-Do : detect the outliers then delete them ad delete the column created to calculate the Z-score
df["price_zscore"] = ((df.price - df.price.mean())/ df.price.std())
df= df[df["price_zscore"]>3]
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,price_zscore
21,20140826T000000,2000000.0,3,2.75,3050.0,44867.0,1.0,0,4,3,9,2330.0,720,1968.0,0.0,47.5316,-122.233,4110.0,20336,3.976163
153,20150401T000000,2250000.0,4,3.25,5180.0,19850.0,2.0,0,3,3,12,3540.0,1640,2006.0,0.0,47.5620,-122.162,3160.0,9750,4.657085
246,20140929T000000,2400000.0,4,2.50,3650.0,8354.0,1.0,1,4,3,9,1830.0,1820,2000.0,0.0,47.6338,-122.072,3120.0,18841,5.065638
269,20150504T000000,2900000.0,4,3.25,5050.0,20100.0,1.5,0,2,3,11,4750.0,300,1982.0,2008.0,47.6312,-122.223,3890.0,20060,6.427482
282,20150513T000000,2050000.0,5,3.00,3830.0,8480.0,2.0,0,1,5,9,2630.0,1200,1905.0,1994.0,47.6166,-122.287,3050.0,7556,4.112347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21514,20150227T000000,1865000.0,4,3.75,3790.0,8797.0,2.0,0,0,3,11,3290.0,500,2006.0,0.0,47.6351,-122.236,2660.0,12150,3.608465
21530,20150407T000000,3000000.0,4,3.75,5090.0,14823.0,1.0,0,0,3,11,4180.0,910,2013.0,0.0,47.6200,-122.207,3030.0,12752,6.699850
21540,20150113T000000,1881580.0,5,3.50,4410.0,13000.0,2.0,0,3,3,10,2920.0,1490,2014.0,0.0,47.5382,-122.111,5790.0,12969,3.653624
21568,20150130T000000,1700000.0,4,3.50,3830.0,8963.0,2.0,0,0,3,10,3120.0,710,2014.0,0.0,47.5990,-122.197,2190.0,10777,3.159057
21576,20150107T000000,3567000.0,5,4.50,4850.0,10584.0,2.0,1,4,3,10,3540.0,1310,2007.0,0.0,47.5943,-122.110,3470.0,18270,8.244181

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21588 non-null  object
 1   price          21588 non-null  float64
 2   bedrooms       21588 non-null  int64
 3   bathrooms      21588 non-null  float64
 4   sqft_living    21588 non-null  float64
 5   sqft_lot       21588 non-null  float64
 6   floors         21588 non-null  float64
 7   waterfront     21588 non-null  int64
 8   view           21588 non-null  int64
 9   condition      21588 non-null  int64
 10  grade          21588 non-null  int64
 11  sqft_above     21588 non-null  float64
 12  sqft_basement  21588 non-null  int64
 13  yr_built       21588 non-null  float64
 14  yr_renovated   21588 non-null  float64
 15  lat            21588 non-null  float64
 16  long           21588 non-null  float64
 17  sqft_living15  21588 non-null  float64
 18  sqft_lot15     21588 non-null  int64
dtypes: float64(11), int64(7), object(1)
memory usage: 3.3+ MB

### 7.Feature selection:<a id='feature_selection'></a>
It is clear that even after deleting some features, there might be other features that aren't obviously useless but can be delted and keep a good overall performance.

To verify this, we perform feature selection on our variables.

In [48]:
# To-Do : perform feature selection using correlation

In [49]:
# To-Do : drop the variables that seem highly correlated to you

### 8.Linear regression:<a id='linear_reg'></a>
Now that our data is clean and ready to be used, let's try to fit it into a linear regression model.

<ul>
    <li>We begin by splitting our variables into dependant and independant variables.</li>
    <li>We create the model using the LinearRegression class.</li>
    <li>We evaluate our model using the R² score</li>
</ul>

In [50]:
# Splitting the data into dependant and independant variables
Y = df['price']
X = df.drop(['price'],axis = 1)

In [51]:
from sklearn.linear_model import LinearRegression
# To-Do : Create a linear regression model using the LinearRegression class then fit it to the data

In [52]:
# The function used to calculate the R² score is the method "score" found in the LinearRegression class
result.score(X, Y)

NameError: name 'result' is not defined

## Conclusion:
Data preparation is a very important step in the machine learning pipeline. It is crucial to clean our data and understand it very well before we can create any model on the data.

In this notebook, we have spent 4 steps preparing our data but only 1 to create the model. This reflects how time consuming the process of data preparation is compared to the other steps as well as the importance of the quality of the data used.

In the next unit, we will see more about the models creation process and see a lot of important concepts in depth.